html,
body {
	height: 100%;
}

body {
}

.button {
	padding: .5em 1em;
	border-radius: 2px;
}

h1 {
	margin: .2em 0;
	padding: 0 .2em;
	text-align: center;
	font-size: 4.5em;
	font-weight: 600;
	text-shadow: 0 0 2px rgba(0,0,0,.3);
}